@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.title p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  color: aliceblue;
  text-align: justify;
  padding-left:180px;
  font-size: 1.8rem;
  transition: box-shadow 0.3s ease-in-out
}
.title p:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Glow effect */
}

h1{
color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
padding-top: 50vh;
font-size: 2.5rem;
}

h2{
    color:aliceblue;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 0.5vh;
}
.Navigation_bar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: darkcyan; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    animation: slideIn 0.5s ease-out;
}


.Navigation_bar a{
 padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: normal;
  border-radius: 4px;
  color:rgba(255,255,255,0.8);
  background:rgba(145,90,182);
  display: block;
  border: solid;
  border-color:var(--clr -light);
  transition: all 0.2s ease-in-out;
 font-family: cursive;
}


.Navigation_bar a:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}
.Navigation_bar a:active {
    animation: glow 2s ease-in-out;
   
}

body{
    background-image:url(pexels-danny-meneses-340146-943096.jpg) ;
    background-repeat: no-repeat;
    background-position:-350vh;
}
img {
    margin:auto;
    width: 100px;
    height: 100px;
   overflow: hidden;
    border-radius: 50%;
    padding-left:50vh;
    padding-right: 50vh;
}

.Icons{
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
}

.About{
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
}
